---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex justify-center items-center">
    <Header />
  </main>
</Layout>
