<section
  class="max-w-screen-1440 w-full px-8 py-12 sm:px-6 lg:px-16 overflow-hidden flex justify-center"
>
  <article class="max-w-screen-sm w-full flex flex-col gap-12">
    <h1 class="leading-[62px] font-extrabold text-[52px] text-center">
      Explore nuestras soluciones
      <span
        style="
background-image: url(/underline.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: right bottom 5%;
"
        >únicas
      </span> de espacios de trabajo
    </h1>
    <p class="text-lg text-center text-gray-500 dark:text-gray-400">
      Con nuestra solución de espacios de trabajo, obtienes una experiencia de
      usuario excepcional.
    </p>
    <div class="flex justify-center gap-4">
      <a href="/contacto/"
        ><button
          class="text-lg text-center text-white dark:text-gray-400 border bg-black border-gray-500 dark:border-gray-400 rounded-md px-10 py-3"
          >Ver espacios</button
        ></a
      >
      <a href="/contacto/"
        ><button
          class="text-lg text-center text-black dark:text-gray-400 border bg-white border-gray-500 dark:border-gray-400 rounded-md px-10 py-3"
          >¿Conectamos?</button
        ></a
      >
    </div>
  </article>
</section>
