---
import { Image } from "astro:assets";
import logo from "../assets/logos/logo.webp";
import Person from "./iconos/IconoPerson.astro";
---

<nav
  class="max-w-screen-1920 1440:w-[1920px] px-8 sm:px-6 lg:px-16 overflow-hidden"
>
  <div class="flex h-20 md:h-24 w-full items-center justify-between md:px-10">
    <div class="flex items-center" transition:persist>
      <a href="/" class="flex-shrink-0 border-none">
        <Image
          class="w-60 h-16"
          src={logo}
          alt="Your Company"
          loading={"eager"}
        />
      </a>
    </div>
    <div class="hidden md:flex items-center">
      <div class="ml-10 flex items-baseline space-x-4">
        <a
          href="/"
          class="border-b-4 border-transparent hover:border-b-4 hover:border-[#91DAF6] hover:text-black rounded-md px-3 py-2 text-lg font-medium {{ request()->is('/') ? 'bg-blue-400 text-white' : '' }}"
          aria-current="page">Inicio</a
        >
        <a
          href="/quesomos/"
          class="border-b-4 border-transparent hover:border-b-4 hover:border-[#91DAF6] hover:text-black rounded-md px-3 py-2 text-lg font-medium {{ request()->is('sobreNosotros') ? 'bg-blue-400 text-white' : '' }}"
          >Membresías</a
        >
        <a
          href="/planes/"
          class="border-b-4 border-transparent hover:border-b-4 hover:border-[#91DAF6] hover:text-black rounded-md px-3 py-2 text-lg font-medium {{ request()->is('planes') ? 'bg-blue-400 text-white' : '' }}"
          >Domicilio fiscal/social</a
        >
        <a
          href="/contacto/"
          class="border-b-4 border-transparent hover:border-b-4 hover:border-[#91DAF6] hover:text-black rounded-md px-3 py-2 text-lg font-medium {{ request()->is('contacto') ? 'bg-blue-400 text-white' : '' }}"
          >Contacto</a
        >
      </div>
    </div>
    <div class="md:hidden">
      <!-- Mobile menu button -->
      <button
        id="mobile-menu-button"
        type="button"
        class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-white hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <span class="absolute -inset-0.5"></span>
        <span class="sr-only">Open main menu</span>
        <!-- Menu open: "hidden", Menu closed: "block" -->
        <svg
          class="block h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 12h18M3 6h18M3 18h18"></path>
        </svg>
      </button>
    </div>
    <div class="flex items-center bg-[#000081] text-white py-2 px-4 rounded-md">
      <Person size="24" />
      <a
        href="https://www.tiktok.com/@movilizatee"
        data-astro-reload
        rel="noreferrer"
        target="_blank"
        class="transition hover:opacity-75 text-lg font-medium ml-2"
      >
        Área de Coworkers
      </a>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div
    class="md:hidden animated fadeInDown"
    id="mobile-menu"
    style="display: none;"
  >
    <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        href="/"
        class="rounded-md px-3 py-2 text-base font-medium"
        aria-current="page">Inicio</a
      >
      <a href="/quesomos/" class="rounded-md px-3 py-2 text-base font-medium"
        >Que somos</a
      >
      <a href="/planes/" class="rounded-md px-3 py-2 text-base font-medium"
        >Planes</a
      >
      <a href="/contacto/" class="rounded-md px-3 py-2 text-base font-medium"
        >Contacto</a
      >
    </div>
  </div>

  <script>
    document.addEventListener("astro:page-load", () => {
      const mobileMenuButton = document.getElementById("mobile-menu-button");
      const mobileMenu = document.getElementById("mobile-menu");
      const currentPage = window.location.pathname;

      if (mobileMenuButton && mobileMenu) {
        mobileMenuButton.addEventListener("click", () => {
          mobileMenu.style.display =
            mobileMenu.style.display === "none" ||
            mobileMenu.style.display === ""
              ? "block"
              : "none";
        });

        const links = mobileMenu.querySelectorAll("a");

        links.forEach((link) => {
          if (link.getAttribute("href") === currentPage) {
            link.classList.add("current");
          } else {
            link.classList.remove("current");
          }
        });
      } else {
        console.error("No se encontraron los elementos del menú móvil");
      }

      const navLinks = document.querySelectorAll("nav a");

      navLinks.forEach((link) => {
        if (link.getAttribute("href") === currentPage) {
          link.classList.add("current");
        } else {
          link.classList.remove("current");
        }
      });
    });
  </script>

  <style>
    /* Estilo para el menú móvil */
    #mobile-menu {
      position: absolute; /* Posición absoluta para que se superponga al contenido */
      left: 0;
      width: 100%;
      background-color: white;
      display: none;
      z-index: 999; /* Asegura que esté encima del contenido */
      border-top: 1px solid #ccc; /* Línea divisoria opcional */
    }

    /* Estilo para los enlaces del menú móvil */
    #mobile-menu a {
      display: block;
      padding: 10px;
      color: #333;
      text-decoration: none;
    }
    /* Estilo para el enlace activo */
    #mobile-menu a.current {
      background-color: #91daf6; /* Color de fondo azul */
      color: white; /* Color de texto blanco */
    }
    /* Estilo para el enlace activo en el menú principal */
    nav a.current {
      border-bottom-width: 4px;
      border-color: #91daf6;
      color: black;
    }
  </style>
</nav>
